
{% extends 'base.html.twig' %}

{% block title %}Eleve | {{ parent() }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 m-1">
        <div class="card">
            <div class="card-header">                
                <a href="{{ path('app_eleve_delete', {'id': eleve.id}) }}" class="text-decoration-none" title="Supprimer"> <i class="fas fa-trash-alt text-danger float-right"></i> </a>
                <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}"  class="text-decoration-none" title="Modifier"> <i class="fas fa-edit text-warning float-right"></i> </a>
                <a href="{{ path('app_eleve_index') }}" class="text-decoration-none" title="Accueil"><i class="fas fa-home text-primary float-right"></i></a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12 mr-2">
                        <div class="card o-hidden border-0 shadow-lg">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-10 mx-auto">
                                        <div class="p-2">
                                            <div class="text-center">
                                                <img class="col-md-4 mx-auto" src="{{ asset('assets/images/logo.png') }}" alt="logo image">
                                            </div>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <p><strong>Id</strong>: {{ eleve.id }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p><strong>Nom Complet Elève</strong>: {{ eleve.personne.Prenom }} {{eleve.personne.Nom}}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p><strong>Date et Lieu de Naissance</strong>: {{ eleve.personne.dateNaissance|date('Y-m-d') }} à {{eleve.personne.lieuNaissance}}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p><strong>Ecole</strong>: {{ eleve.ecole.NomEcole }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p><strong>Classe</strong>: {{ eleve.classe.NomClasse }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p> <strong>Dernière modification</strong> : {{ eleve.updatedAt ? eleve.updatedAt|date('Y-m-d à H:i:s') : '' }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p> <strong>Création</strong> : {{ eleve.createdAt ? eleve.createdAt|date('Y-m-d à H:i:s') : '' }}</p>
                                                </li>
                                            </ul>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
