          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{{ path('app_dashboard') }}" class="site_title"><img src="{{asset('assets/images/logo-mini.png')}}" alt="" width="25" > <span>A.D.M</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{{asset('assets/images/img.jpg')}}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenu,</span>
                <h2>
                  {% if app.User %}
                    {{app.user.Username}}
                  {% else %}
                    Inconnu
                  {% endif %}
                </h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-dashboard"></i> Tableau de Bord <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('app_dashboard') }}">Tableau de Bord</a></li>
                      <li><a href="#">Cartographie</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-city"></i> Localité <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('app_quartier_index') }}">Quartier</a></li>
                      <li><a href="{{ path('app_cellule_index') }}">Cellule</a></li>
                      <li><a href="{{ path('app_secteur_index') }}">Secteur</a></li>
                      <li><a href="{{ path('app_maison_index') }}">Maison</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i> Population <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{(path('app_personne_index'))}}">Population</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-user-graduate"></i> Education <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('app_niveau_etude_index') }}">Niveau Etude</a></li>
                      <li><a href="{{ path('app_ecole_index') }}">Ecole</a></li>
                      <li><a href="{{ path('app_classe_index') }}">Classe</a></li>
                      <li><a href="{{ path('app_eleve_index') }}">Eleve</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-leaf"></i> Hygiène & Environ... <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('app_type_arbre_index') }}">Type d'arbre</a></li>
                      <li><a href="{{ path('app_arbre_index') }}">Arbre</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-heartbeat"></i> Santé <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('app_type_maladie_index') }}">Type Maladie</a></li>
                      <li><a href="{{ path('app_maladie_index') }}">Maladie</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-hand-holding-usd"></i>Economie <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                      <li><a href="fixed_footer.html">Fixed Footer</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-chart-bar"></i> Statistiques <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('app_statistique') }}">Global</a></li>
                      <li><a href="#">Education</a></li>
                      <li><a href="#">Santé</a></li>
                      <li><a href="#">Economie</a></li>
                      <li><a href="#">Environnement</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bug"></i> Points Focaux <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{path('app_user_index')}}">Points Focaux</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>