{% extends 'base.html.twig' %}

{% block title %}Ecole | {{ parent() }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-xs-12 mx-auto">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="p-5">
                            <div class="text-center">
                                <img class="col-md-4 mx-auto" src="{{ asset('assets/images/logo.png') }}" alt="logo image">
                            </div>
                            {{form_start(form, {'attr':{'class':'form'}})}}                         
                                <div class="form-floating mb-3">
                                    {{form_row(form.nom_ecole, {'attr':{'class':"form-control", 'placeholder':"Ecole", 'required':"required", 'autofocus':"autofocus"}})}}
                                </div>
                                <div class="form-floating mb-3">
                                    {{form_row(form.description, {'attr':{'class':"form-control", 'placeholder':"Description école"}})}}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Valider <i class="fas fa-save"></i> </button>
                                    <a href="{{ path('app_niveau_etude_liste_ecole', {'id':niveau_etude.id}) }}" class="btn btn-secondary">Accueil <i class="fas fa-home"></i></a>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

