{% extends 'base.html.twig' %}

{% block title %}Cellule | {{ parent() }}{% endblock %}

{% block body %}
<div class="row">    
    <h1 class="h3 mb-2 text-gray-800">Cellule</h1>
    <p class="mb-4">{{cellule.NomCellule}} / <strong class="text-primary">Education</strong>  </p>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hovered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Prenom</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Date et Lieu de Naissance</th>
                            <th class="text-center">Sexe</th>
                            <th class="text-center">Ecole</th>
                            <th class="text-center">Classe</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for secteur in secteurs %}
                        {% for maison in secteur.maisons %}
                            {% for personne in maison.personnes %}
                                {% for eleve in personne.eleves %}
                                    <tr>
                                        <td class="text-center">{{ eleve.id }}</td>
                                        <td class="text-center">{{ eleve.personne.prenom }}</td>
                                        <td class="text-center">{{ eleve.personne.nom }}</td>
                                        <td class="text-center">{{ eleve.personne.DateNaissance|date('Y-m-d') }} à {{eleve.personne.LieuNaissance}} </td>
                                        <td class="text-center">{{ eleve.personne.sexe }}</td>
                                        <td class="text-center">{{eleve.ecole.NomEcole}}</td>
                                        <td class="text-center">{{eleve.classe.NomClasse}}</td>
                                        <td class="text-center">
                                            <a href="{{ path('app_eleve_show', {'id': eleve.id}) }}"><i class="fas fa-eye text-info"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}                            
                            {% endfor %}
                        {% endfor %}                        
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
