{% extends 'base.html.twig' %}

{% block title %}Ecole |{{ parent() }}{% endblock %}

{% block body %}
<div class="row">
    <div class="card m-1">
        <div class="card-header">
            <a href="{{ path('app_ecole_delete', {'id': ecole.id}) }}" class="text-decoration-none" title="Supprimer"> <i class="fas fa-trash-alt text-danger float-right"></i> </a>
            <a href="{{ path('app_ecole_edit', {'id': ecole.id}) }}"  class="text-decoration-none" title="Modifier"> <i class="fas fa-edit text-warning float-right"></i> </a>
            <a href="{{ path('app_ecole_index') }}" class="text-decoration-none" title="Accueil"><i class="fas fa-home text-primary float-right"></i></a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 col-xs-12 mr-2">
                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <div class="p-2">
                                        <div class="text-center">
                                            <img class="col-md-4 mx-auto" src="{{ asset('assets/images/logo.png') }}" alt="logo image">
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p><strong>Id</strong>: {{ ecole.id }}</p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Niveau</strong>: {{ ecole.NiveauEtude.NomNiveauEtude }}</p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Ecole</strong>: {{ ecole.NomEcole }}</p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Description :</strong> Copier le lien ci-dessous</p><a href="{{ecole.Description|raw}}">{{ ecole.Description|raw }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <p> <strong>Dernière modification</strong> : {{ ecole.updatedAt ? ecole.updatedAt|date('Y-m-d à H:i:s') : '' }}</p>
                                            </li>
                                            <li class="list-group-item">
                                                <p> <strong>Création</strong> : {{ ecole.createdAt ? ecole.createdAt|date('Y-m-d à H:i:s') : '' }}</p>
                                            </li>
                                            <li class="list-group-item">  
                                                <a href="{{ path('app_ecole_liste_classe', {'id':ecole.id}) }}" class="text-decoration-none" title="Liste Classe"><i class="fas fa-list text-info float-right"></i> </a>
                                            </li>
                                        </ul>                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


