{% extends 'base.html.twig' %}

{% block title %}Population | {{ parent() }}{% endblock %}

{% block body %}
<div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Maison</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="collapse-link" href="{{ path('app_personne_delete', {'id': personne.id}) }}" class="text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                </li>
                <li>
                    <a class="collapse-link" href="{{ path('app_personne_edit', {'id': personne.id}) }}"  class="text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                </li>
                <li>
                    <a class="collapse-link" href="{{ path('app_personne_index') }}" class="text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <p class="text-muted font-13 m-b-30">
                          Maison {{ personne.Prenom}} {{ personne.Nom }}.
                        </p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5 col-xs-12 mr-2">
                                        <div class="card o-hidden border-0 shadow-lg my-5">
                                            <div class="card-body p-1">
                                                <div class="row">
                                                    <div class="col-lg-10 col-xs-12 mx-auto">
                                                        <div class="p-5">
                                                            <ul class="list-group">
                                                                <li class="list-group-item">
                                                                    <p><strong>Id</strong>: {{ personne.id }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Maison</strong>: {{ personne.maison.NomMaison }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Secteur/Cellule</strong>: {{ personne.maison.secteur.NomSecteur }}/{{personne.maison.secteur.cellule.NomCellule}}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Quartier</strong>: {{ personne.maison.secteur.cellule.quartier.NomQuartier }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Prénom</strong>: {{ personne.prenom }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Nom</strong>: {{  personne.nom }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Date et Lieu de Naissance</strong>: {{ personne.dateNaissance ? personne.dateNaissance|date('Y-m-d') : '' }} à {{ personne.lieuNaissance }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p> <strong>Sexe</strong> : {{ personne.sexe }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p> <strong>Situation Matrimoniale</strong> : {{ personne.situationMatrimoniale }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p> 
                                                                        <strong>Fiche d'information: </strong>
                                                                        <a href="#" class="text-decoration-none" title="Education"><i class="fas fa-user-graduate text-primary"></i> </a>
                                                                        <a href="#" class="text-decoration-none" title="Santé"><i class="fas fa-heartbeat text-success"></i> </a>
                                                                        <a href="#" class="text-decoration-none" title="Economie"><i class="fas fa-hand-holding-usd text-secondary"></i> </a>
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
