{% extends 'base.html.twig' %}

{% block title %}Maison | {{ parent() }}{% endblock %}

{% block body %}
<div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Maison</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <p class="text-muted font-13 m-b-30">
                          Maison {{ maison.NomMaison}}.
                        </p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5 col-xs-12 mr-2">
                                        <div class="card o-hidden border-0 shadow-lg my-5">
                                            <div class="card-body p-1">
                                                <div class="row">
                                                    <div class="col-lg-10 col-xs-12 mx-auto">
                                                        <div class="p-5">
                                                            <ul class="list-group">
                                                                <li class="list-group-item">
                                                                    <p><strong>Id</strong>: {{ maison.id }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Maison</strong>: {{ maison.NomMaison }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Code Maison</strong>: {{ maison.CodeMaison }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Cellule</strong>: {{ maison.secteur.NomSecteur }}</p>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

