{% extends 'base.html.twig' %}

{% block title %}Maison | {{ parent() }}{% endblock %}

{% block body %}
<div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Maison</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="collapse-link" href="{{ path('app_maison_liste_personne', {'id':maison.id}) }}" class="text-decoration-none float-left m-1" title="Liste Personne"><i class="fas fa-list text-info"></i> </a> 
                </li>
                <li>
                    <a class="collapse-link" href="{{ path('app_maison_delete', {'id': maison.id}) }}" class="text-decoration-none float-left m-1" title="Supprimer"> <i class="fas fa-trash-alt text-danger"></i> </a>
                </li>
                <li>
                    <a class="collapse-link" href="{{ path('app_maison_edit', {'id': maison.id}) }}"  class="text-decoration-none float-left m-1" title="Modifier"> <i class="fas fa-edit text-warning"></i> </a>
                </li>
                <li>
                    <a class="collapse-link" href="{{ path('app_maison_new') }}" class="text-decoration-none float-left m-1" title="Ajout Maison"><i class="fas fa-plus-circle text-success"></i></a>
                </li>
                <li>
                    <a class="collapse-link" href="{{ path('app_maison_index') }}" class="text-decoration-none float-left m-1" title="Accueil"><i class="fas fa-home text-primary"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <p class="text-muted font-13 m-b-30">
                          Maison {{ maison.NomMaison}}.
                        </p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5 col-xs-12 mr-2">
                                        <div class="card o-hidden border-0 shadow-lg my-5">
                                            <div class="card-body p-1">
                                                <div class="row">
                                                    <div class="col-lg-10 col-xs-12 mx-auto">
                                                        <div class="p-5">
                                                            <ul class="list-group">
                                                                <li class="list-group-item">
                                                                    <p><strong>Id</strong>: {{ maison.id }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Maison</strong>: {{ maison.NomMaison }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Code Maison</strong>: {{ maison.CodeMaison }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p><strong>Cellule</strong>: {{ maison.secteur.NomSecteur }}</p>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <p>
                                                                        <strong>Fiche Information:</strong> :
                                                                        <a href="{{ maison.Localisation}}" class="text-decoration-none" title="Localisation" target="_blank"><i class="fas fa-location-dot text-danger"></i> </a>
                                                                        <a href="{{ path('app_maison_liste_personne', {'id':maison.id}) }}" class="text-decoration-none" title="Liste Personne"><i class="fas fa-users text-info"></i> </a>
                                                                        <a href="{{ path('app_maison_education', {'id':maison.id}) }}" class="text-decoration-none" title="Education"><i class="fas fa-user-graduate text-primary"></i> </a>
                                                                        <a href="#" class="text-decoration-none" title="Santé"><i class="fas fa-heartbeat text-danger"></i> </a>
                                                                        <a href="#" class="text-decoration-none" title="Environnement"><i class="fas fa-leaf text-success"></i> </a>
                                                                        <a href="#" class="text-decoration-none" title="Economie"><i class="fas fa-hand-holding-usd text-secondary"></i> </a>
                                                                    </p>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

