{% extends 'base.html.twig' %}

{% block title %}Secteur | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8 col-xs-12 mx-auto">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="p-5">
                            <div class="text-center">
                                <img class="col-md-4 mx-auto" src="{{ asset('assets/images/logo.png') }}" alt="logo image">
                            </div>
                            </div>
                            Supprimer  <strong> {{secteur.NomSecteur}} </strong>
                            <form method="post" action="{{ path('app_secteur_delete', {'id': secteur.id}) }}" onsubmit="return confirm(Êtes-vous sûr de vouloir effectuer cette action ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secteur.id) }}">
                                <button class="btn btn-danger">Supprimer <i class="fas fa-trash-alt"></i></button>
                                <a href="{{ path('app_secteur_show', {'id':secteur.id}) }}" class="btn btn-primary">Accueil <i class="fas fa-home"></i></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}