{% extends 'base.html.twig' %}

{% block title %}Secteur | {{ parent() }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 m-1">
        <div class="card">
            <div class="card-header">
                <a href="{{ path('app_secteur_delete', {'id': secteur.id}) }}" class="text-decoration-none float-right" title="Supprimer"><i class="fas fa-trash-alt text-danger"></i> </a>
                <a href="{{ path('app_secteur_edit', {'id': secteur.id}) }}" class="text-decoration-none float-right" title="Modifier"><i class="fas fa-edit text-warning"></i> </a>
                <a href="{{ path('app_secteur_index') }}" class="text-decoration-none float-right" title="Accueil"><i class="fas fa-home text-primary"></i></a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12 mr-2">
                        <div class="card o-hidden border-0 shadow-lg">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-10 mx-auto">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <img class="col-md-4 mx-auto" src="{{ asset('assets/images/logo.png') }}" alt="logo image">
                                            </div>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <p><strong>Id</strong>: {{ secteur.id }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p><strong>Secteur</strong>: {{ secteur.NomSecteur }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p><strong>Cellule</strong>: {{ secteur.cellule.NomCellule }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p> <strong>Dernière modification</strong> : {{ secteur.updatedAt ? secteur.updatedAt|date('Y-m-d à H:i:s') : '' }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p> <strong>Création</strong> : {{ secteur.createdAt ? secteur.createdAt|date('Y-m-d à H:i:s') : '' }}</p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p>
                                                        <strong>Fiche Information:</strong> :                                                                                            
                                                        <a href="{{ path('app_secteur_personnes', {'id':secteur.id}) }}" class="text-decoration-none" title="Liste Personnes"><i class="fas fa-users text-info"></i> </a>
                                                        <a href="{{ path('app_secteur_education', {'id':secteur.id}) }}" class="text-decoration-none" title="Education"><i class="fas fa-user-graduate text-primary"></i> </a>
                                                        <a href="#" class="text-decoration-none" title="Santé"><i class="fas fa-heartbeat text-danger"></i> </a>
                                                        <a href="#" class="text-decoration-none" title="Environnement"><i class="fas fa-leaf text-success"></i> </a>
                                                        <a href="#" class="text-decoration-none" title="Economie"><i class="fas fa-hand-holding-usd text-secondary"></i> </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
